body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}
a {
	text-decoration: none;
}
img {
	border: none;
}
.seller {
	width: 1000px;
	height: auto;
	margin: 0px auto;
	background-color: #fff;
}
.seller .top {
	width: 100%;
	height: 100px;
}
.seller .top .logo {
	width: 300px;
	height: 100px;
	float: left;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 100px;
	margin-top: 0px;
	margin-left: 0px;
}
.seller .top .search1 {
	width: 690px;
	height: 100px;
	float: right;
	margin-top: -10px;
}
.seller .top .search1 .zi {
	width: 300px;
	height: 30px;
	margin-top: 15px;
	margin-left: 20px;
}
.seller .top .search1 .zi ul {
	padding-top: 0px;
	padding-left: 0px;
	margin-top: 0px;
}
.seller .top .search1 .zi ul li {
	float: left;
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	line-height: 30px;
}
.seller .top .search1 .text {
	width: 650px;
	height: 30px;
	margin-left: 20px;
}
.seller .top .search1 .text .box {
	width: 500px;
	height: 30px;
	margin-top: 0px;
	position: absolute;
	border-color: #a40c59;
}
.seller .top .search1 .text .img {
	float: right;
	margin-right: 95px;
	height: 30px;
}
.seller .center {
	width: 100%;
	height: auto;
	border: 1px #fff solid;
}
.seller .center .top_nav {
	width: 100%;
	height: 50px;
	border-bottom: 2px #a40c59 solid;
}
.seller .center .top_nav .top_nav_class {
	width: 400px;
	height: 30px;
	float: left;
	clear: both;
}
.seller .center .top_nav .top_nav_class ul li {
	float: left;
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height: 30px;
	border: 1px solid #a40c59;
	text-align: center;
	line-height: 30px;
	background-color: #fff;
	color: #000;
	margin-top: 3px;
}
.seller .center .top_nav .lianjie {
	float: right;
	margin-top: 15px;
	float: right;
	font-size: 14px;
	color: #999;
}
.seller .center .left_nav {
	width: 140px;
	height: auto;
	border: 1px #ccc solid;
	box-sizing: border-box;
	float: left;
	margin-top: 10px;
}
.seller .center .left_nav .box {
	padding-top: 0px;
	margin-top: 5px;
	padding-left: 5px;
}
.seller .center .left_nav .box ul {
	display: block;
}
.seller .center .left_nav .box ul li {
	list-style-type: none;
	font-size: 12px;
	margin-left: 40px;
	line-height: 30px;
}
.seller .center .left_nav .box ul li a {
	color: #000;
}
.seller .center .left_nav .box h4 {
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 15px;
	cursor: pointer;
}
.seller .center .left_nav .box h4 img {
	margin-right: 8px;
}
.seller .center .bread {
	width: 850px;
	height: 30px;
	border: 1px #ccc solid;
	float: right;
	margin-top: 10px;
}
.seller .center .bread .left1 {
	float: left;
	margin: 10px 0px 0px 15px;
	font-size: 14px;
}
.seller .center .bread .right1 {
	float: right;
	margin: -15px 15px 0px 0px;
	font-size: 12px;
	clear: both;
}
/*鎴戣寮�簵鍐呭*/
.seller .center .content {
	width: 850px;
	height: auto;
	margin-top: 10px;
	float: right;
	border: 1px #ccc solid;
}
.seller .center .content h2 {
	margin-left: 15px;
	margin-top: 15px;
}
.seller .center .content .h3 {
	margin-left: 15px;
	line-height: 40px;
	font-size: 14px;
}
.seller .center .content .h4 {
	margin-left: 15px;
	line-height: 30px;
	font-size: 14px;
}
.seller .center .content .box {
	width: 820px;
	height: 70px;
	margin: 15px 0px 0px 15px;
	background-color: #F9F9F9;
}
.seller .center .content .box ul {
	padding-left: 0px;
	margin-top: 0px;
}
.seller .center .content .box ul li {
	list-style-type: none;
	display: inline-block;
	width: 273px;
	height: 70px;
	border-right: 1px #ccc dashed;
	box-sizing: border-box;
	float: left;
}
.seller .center .content .box .box_class {
	width: 220px;
	height: 50px;
	margin: 10px 0px 0px 25px;
}
.seller .center .content .box .box_class img {
	float: left;
	margin: 10px 0px 0px 20px;
}
.seller .center .content .box .box_class div {
	float: right;
	font-size: 12px;
	margin-right: 20px;
	margin-top: 5px;
}
.seller .center .content .box .box_class div p {
	margin-bottom: 10px;
}
.seller .center .content .last {
	width: 820px;
	height: 500px;
	margin-top: 10px;
	margin-left: 15px;
}
.seller .center .content .last .xx {
	margin: 10px 0px 0px 15px;
	float: left;
}
.seller .center .content .last .xx1 {
	margin: 10px 15px 0px 0px;
	float: right;
	color: #999;
	font-size: 12px;
}
.seller .center .content .last ul {
	padding: 0px;
	margin: 0px;
}
.seller .center .content .last ul li {
	list-style-type: none;
	display: inline-block;
	width: 240px;
	height: 330px;
	border: 1px #ccc solid;
	margin-top: 70px;
	margin-left: 25px;
}
.seller .center .content .last img {
	margin-top: 0px;
	padding: 0px;
	position: absolute;
	margin-top: -40px;
	margin-left: 80px;
}
.seller .center .content .last .box1 {
	width: 180px;
	height: 200px;
	margin-top: 60px;
	margin-left: 30px;
	position: absolute;
}
.seller .center .content .last .box1 h4 {
	margin-left: 40px;
	margin-bottom: 25px;
}
.seller .center .content .last .box1 p {
	margin-top: 20px;
	margin-left: 40px;
	font-size: 12px;
	color: #999;
}
.seller .center .content .last .btn {
	width: 120px;
	height: 30px;
	background-color: #a40c59;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	margin-top: 280px;
	margin-left: 60px;
	cursor: pointer;
}
/*涓汉寮�簵*/
.seller .center .geren {
	width: 850px;
	height: auto;
	border: 1px #ccc solid;
	float: right;
	margin-top: 10px;
}
.seller .center .geren h2 {
	margin: 10px 0px 0px 15px;
}
.seller .center .geren .box form {
	margin-left: 45px;
}
.seller .center .geren .box input {
	margin: 20px 0px 0px 15px;
}
.seller .center .geren .box select {
	margin: 30px 0px 0px 0px;
}
.seller .center .geren .box .sq {
	background-color: #a40c59;
	color: #fff;
	border: none;
	font-size: 16px;
	padding: 5px 10px;
	width: 120px;
	margin: 50px 0px 50px 180px;
}
.seller .center .geren .box .file-box {
	position: relative;
	width: 580px;
	margin-top: 10px;
}
.seller .center .geren .box .txt {
	height: 22px;
	border: 1px solid #cdcdcd;
	width: 180px;
}
.seller .center .geren .box .btn {
	background-color: #FFF;
	border: 1px solid #CDCDCD;
	height: 24px;
	width: 70px;
}
.seller .center .geren .box .file {
	position: absolute;
	top: 0;
	right: 80px;
	height: 24px;
filter:alpha(opacity:0);
	opacity: 0;
	width: 260px
}
/*宸插崠鍑虹殑鍟嗗搧*/
.seller .center .sold {
	width: 850px;
	height: auto;
	margin-top: 10px;
	float: right;
	border: 1px #ccc solid;
}
.seller .center .sold .top {
	width: 835px;
	height: 180px;
	margin-left: 15px;
}
.seller .center .sold .top form {
	font-size: 12px;
}
.seller .center .sold .top form input {
	margin-top: 15px;
	margin-right: 30px;
}
.seller .center .sold .top form select {
	margin-top: 15px;
	margin-right: 30px;
	width: 172px;
}
.seller .center .sold .top form button {
	margin-top: 15px;
	margin-right: 20px;
	border-radius: 3px;
}
.seller .center .sold .last {
	width: 850px;
	height: 500px;
}
.seller .center .sold .last .nav {
	width: 850px;
	height: 30px;
}
.seller .center .sold .last .nav ul {
	padding: 0px;
	margin: 0px;
	margin-left: 25px;
	margin-top: 10px;
}
.seller .center .sold .last .nav ul li.on {
	background: #FFF;
	color: #000;
	cursor: text;
}
.seller .center .sold .last .nav ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
	border: 1px solid #a40c59;
	border-radius: 3px;
	margin-right: 5px;
	border-bottom: none;
	margin-top: 7px;
	padding: 5px 10px;
	font-size: 12px;
	cursor: pointer;
	background: #a40c59;
	color: #FFF;
}
.seller .center .sold .last .nav1 {
	width: 850px;
	height: 30px;
	border: 1px #a40c59 solid;
	border-left: none;
	border-right: none;
	box-shadow: inset 1px 1px 2px #a40c59, 1px 1px 2px #a40c59;
	font-size: 14px;
}
.seller .center .sold .last .nav1 ul {
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
}
.seller .center .sold .last .nav1 ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
	width: 78px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.seller .center .sold .last .nav_class {
	width: 850px;
	height: 50px;
	font-size: 14px;
}
.seller .center .sold .last .nav_class ul {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}
.seller .center .sold .last .nav_class ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
	width: 78px;
	height: 30px;
	text-align: center;
	line-height: 40px;
}
.seller .center .sold .last .nav2 {
	width: 850px;
	height: 30px;
	margin-top: 7px;
	background-color: #ededed;
	line-height: 30px;
	font-size: 14px;
}
.seller .center .sold .last .nav2 form {
	margin-left: 15px;
}
.seller .center .sold .last .nav2 ul {
	padding: 0px;
	margin: 0px;
}
.seller .center .sold .last .nav2 ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
	text-align: center;
	margin-right: 25px;
}
/*璇勪环绠＄悊*/
.seller .center .pjgl {
	width: 850px;
	height: auto;
	margin-top: 10px;
	float: right;
}
.seller .center .pjgl .nav {
	width: 100%;
	height: 50px;
	border-bottom: 2px #ccc solid;
}
.seller .center .pjgl .nav ul {
	padding: 0px;
	margin: 0px;
	margin-left: 35px;
}
.seller .center .pjgl .nav ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
	margin-right: 50px;
	line-height: 50px;
	font-size: 20px;
}
.seller .center .pjgl .left1 {
	width: 170px;
	height: 230px;
	border: 1px #ccc solid;
	margin-top: 10px;
	float: left;
}
.seller .center .pjgl .right1 {
	width: 650px;
	height: auto;
	float: right;
	margin-top: 10px;
}
.seller .center .pjgl .right1 .box {
	width: 650px;
	height: auto;
	margin-top: 5px;
}
.seller .center .pjgl .right1 .box table {
	border-collapse: collapse;
	text-align: center;
}
.seller .center .pjgl .right1 .box td {
	width: 110px;
	height: 30px;
	border: 1px #ccc solid;
}
.seller .center .pjgl .buttom {
	width: 850px;
	height: auto;
	float: right;
	margin-top: 50px;
}
.seller .center .pjgl .buttom .rating_class {
	width: 750px;
	height: 80px;
	margin-left: 40px;
}
.seller .center .pjgl .buttom .rating_class ul li.on {
	background-color: #901531;
	cursor: text;
	color: #fff;
}
.seller .center .pjgl .buttom .rating_class ul li {
	list-style-type: none;
	float: left;
	display: inline-block;
	width: 115px;
	height: 30px;
	background-color: #ccc;
	margin-right: 5px;
	color: #000;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.seller .center .pjgl .buttom hr {
	border: 2px #901531 solid;
	width: 846px;
	margin-left: -40px;
}
.seller .center .pjgl .buttom .nav1 {
	width: 850px;
	height: 40px;
	margin-top: 0px;
	border-bottom: 1px #ccc solid;
}
.seller .center .pjgl .buttom .nav1 ul li {
	float: left;
	display: inline-block;
	width: 180px;
	height: 35px;
	text-align: center;
	line-height: 25px;
	font-size: 14px
}
.seller .center .pjgl .buttom .nav2 {
	width: 850px;
	height: 300px;
	border-bottom: 1px #ccc solid;
}
/*閫�*/
.seller .class2 {
	width: 850px;
	height: 400px;
}
.seller .class2 .class2_all {
	width: 850px;
	height: 50px;
}
.seller .class2 .class2_all UL LI {
	list-style-type: none;
	float: left;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	border: 1px #a40c59 solid;
	background-color: #fff;
	line-height: 30px;
	width: 156px;
	font-weight: 500;
	margin-left: 50px;
	border-bottom: none;
	cursor: pointer;
	height: 35px;
	margin-top: 15px;
	border-radius: 3px;
}
.seller .class2 .class2_all UL LI.on {
	background-color: #a40c59;
	cursor: text;
	color: #fff;
}
.seller .class2 .nav {
	width: 850px;
	height: 50px;
	border: 1px #a40c59 solid;
	border-left: none;
	border-right: none;
	box-shadow: inset 1px 1px 2px #a40c59, 1px 1px 2px #a40c59;
}
.seller .class2 .nav ul li {
	list-style-type: none;
	float: left;
	display: inline-block;
	width: 100px;
	height: 50px;
	margin: 0px;
	font-size: 12px;
	text-align: center;
	line-height: 50px;
}
.seller .class2 .nav2 {
	width: 850px;
	height: 50px;
	border-bottom: 1px #aed2ff solid;
	padding: 0px;
}
.seller .class2 .nav2 ul li {
	list-style-type: none;
	float: left;
	width: 100px;
	height: 50px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
/*浠撳簱涓殑鍟嗗搧*/
.seller .all {
	width: 850px;
	height: auto;
}
.seller .all .all_nav {
	width: 100%;
	height: 30px;
	background-color: #ccc;
}
.seller .all .all_nav ul {
	padding-left: 0px;
	margin-top: 0px;
}
.seller .all .all_nav ul li {
	float: left;
	display: inline-block;
	list-style-type: none;
	width: 160px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.seller .all .all_nav1 {
	width: 100%;
	height: 50px;
	border-bottom: 1px #ededed solid;
}
.seller .all .all_nav1 form {
	float: left;
	margin: 15px 0px 0px 15px;
}
.seller .all .all_class2 {
	width: 100%;
	height: 100px;
	border: 1px #fff solid;
	border-bottom: 1px solid #ededed;
}
.seller .all .all_class2 ul {
	padding-left: 0px;
	margin-top: 0px;
}
.seller .all .all_class2 ul li {
	float: left;
	display: inline-block;
	list-style-type: none;
	width: 160px;
	height: 100px;
}
.seller .all .all_class2:hover {
	background-color: #ededed;
}
.seller .all .all_class2 ul li form {
	margin: 30px 5px 0px 15px;
	float: left;
}
.seller .all .all_class2 ul li img {
	float: left;
	margin-top: 20px;
}
.seller .all .all_class2 ul li .l1 {
	margin-top: 20px;
	float: right;
	font-size: 14px;
}
.seller .all .all_class2 ul li .l2 {
	float: right;
	font-size: 14px;
	margin-right: 140px;
	margin-top: 10px;
}
.seller .all .all_class2 ul li .l3 {
	margin: 25px 0px 0px 70px;
}
.seller .all .all_class2 ul li .l4 {
	margin: 5px 0px 0px 55px;
	width: 50px;
	height: 30px;
	border-radius: 3px;
	background-color: #cb2479;
	text-align: center;
	color: #fff;
	line-height: 30px;
}
.seller .all .all_class2 ul li .l5 {
	margin: 30px 0px 0px 50px;
}
.seller .all .all_class2 ul li .l6 {
	margin: 10px 0px 0px 50px;
}
/*浣撴涓績*/
.seller .center .tijian {
	width: 850px;
	height: auto;
	border: 1px #ccc solid;
	float: right;
	margin-top: 10px;
	padding-bottom: 20px;
}
.seller .center .tijian h2 {
	margin-left: 15px;
}
.seller .center .tijian .content {
	width: 500px;
	height: 300px;
	border: 1px #ccc solid;
	margin-left: 10px;
	float: left;
	background-image: url(../img/w4.jpg);
}
.seller .center .tijian .content ul li {
	width: 250px;
	height: 70px;
	list-style-type: none;
	float: left;
	margin-bottom: 20px; border:1px #fff solid;
}
.seller .center .tijian .left {
	width: 300px;
	height: 300px;
	border: 1px #ccc solid;
	margin-left: 10px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.seller .center .tijian .left .left_class {
	width: 300px;
	height: 160px;
	margin-top: 30px;
}
.seller .center .tijian .left .left_class ul {
	padding: 0px;
	margin: 0px;
	margin: 15px 0px 0px 15px;
}
.seller .center .tijian .left .left_class ul li {
	list-style-type: none;
	width: 270px;
	height: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}
.seller .center .tijian .left .left_class ul li .wg ul {
	padding: 0px;
	margin: 0px;
}
.seller .center .tijian .left .left_class ul li .wg ul li {
	width: 40px;
	height: 20px;
	background-color: #ccc;
	border-right: 1px solid #ededed;
	float: left;
	display: inline-block;
}
/*鍙戝竷鍟嗗搧*/
.seller .center .fabu{
	width: 850px;
	height: 700px;
	border: 1px #ccc solid;
	float: right;
	margin-top: 10px;
}
.seller .center .fabu .top{ width:100%; height:80px; background-color:#ededed;}
.seller .center .fabu .center{ width:100%; height:370px; margin-top:30px;}
.seller .center .fabu .center .first{ width:270px; height:300px; border:1px #ededed solid; float:left; margin-left:15px; margin-top:15px;}
.seller .center .fabu .center .first ul li{ width:250px; height:30px; margin-top:10px; font-size:16px; margin-left:10px;}

.seller .center .fabu .center .second{ width:270px; height:300px; border:1px #ededed solid; float:left; margin-top:15px;}
.seller .center .fabu .center .second ul li{ width:250px; height:30px; margin-top:10px; font-size:16px;  margin-left:10px;}
.seller .center .fabu .center .third{ width:270px; height:300px; border:1px #ededed solid; float:left; margin-top:15px;}
.seller .center .fabu .center .third ul li{ width:250px; height:30px; margin-top:10px; font-size:16px;  margin-left:10px;}
.seller .center .fabu .center .btn{ width:250px; height:30px; background-color:#a40c59; color:#fff; border:none; font-size:14px; margin:35px 0px 0px 300px;}
.seller .center .fabu .center .box{ width:100%; height:80px; border:1px #ccc solid; margin-top:40px; box-sizing:border-box; margin-left:-1px; overflow:scroll;s}

.seller .center .fabu2{
	width: 850px;
	height: 700px;
	border: 1px #ccc solid;
	float: right;
	margin-top: 10px;
}









/*瑙勫垯*/

.seller1 {
	width: 1200px;
	height: auto;
	margin: 0px auto;
	background-color: #fff;
}
.seller1 .top {
	width: 100%;
	height: 100px;
}
.seller1 .top .logo {
	width: 300px;
	height: 100px;
	float: left;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 100px;
	margin-top: 0px;
	margin-left: 0px;
}
.seller1 .top .search1 {
	width: 690px;
	height: 100px;
	float: right;
	margin-top: -10px;
}
.seller1 .top .search1 .zi {
	width: 300px;
	height: 30px;
	margin-top: 15px;
	margin-left: 20px;
}
.seller1 .top .search1 .zi ul {
	padding-top: 0px;
	padding-left: 0px;
	margin-top: 0px;
}
.seller1 .top .search1 .zi ul li {
	float: left;
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	line-height: 30px;
}
.seller1 .top .search1 .text {
	width: 650px;
	height: 30px;
	margin-left: 20px;
}
.seller1 .top .search1 .text .box {
	width: 500px;
	height: 30px;
	margin-top: 0px;
	position: absolute;
	border-color: #a40c59;
}
.seller1 .top .search1 .text .img {
	float: right;
	margin-right: 95px;
	height: 30px;
}
.seller1 .center1 {
	width: 100%;
	height: auto;
	border: 1px #fff solid;
}
.seller1 .center1 .top_nav {
	width: 100%;
	height: 50px;
	border-bottom: 2px #a40c59 solid;
}
.seller1 .center1 .top_nav ul {
	padding-left: 0px;
}
.seller1 .center1 .top_nav ul li {
	float: left;
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height: 30px;
	border: 1px solid #a40c59;
	text-align: center;
	line-height: 30px;
	background-color: #fff;
	color: #000;
}
.seller1 .center1 .top_nav .lianjie {
	float: right;
	margin-top: 28px;
}
. .seller1 .center1 .guize {
width:1200px;
height:auto;
border:1px red solid;
}
.seller1 .center1 .guize .left {
	width: 190px;
	height: 500px;
	border: 1px red solid;
	margin-top: 10px;
	float: left;
}
.seller1 .center1 .guize .right {
	width: 1000px;
	height: auto;
	margin-top: 10px;
	float: right;
}
.seller1 .center1 .guize .right .right_top {
	width: 100%;
	height: 70px;
	border-bottom: 1px #ccc solid;
}
.seller1 .center1 .guize .right .right_top h2 {
	margin: 25px 0px 0px 15px;
	position: absolute;
}
.seller1 .center1 .guize .right .table1 {
	width: 100%;
	height: auto;
}
.seller1 .center1 .guize .right .table1 table {
	border: 1px #ededed solid;
	border-collapse: collapse;
}
.seller1 .center1 .guize .right .table1 table td {
	border: 1px #ededed solid;
	text-align: left;
	font-size: 12px;
	line-height: 25px;
}
.seller1 .center1 .guize .right .table2 {
	width: 100%;
	height: auto;
	margin-top: 50px;
}
.seller1 .center1 .guize .right .table2 table {
	border: 1px #ededed solid;
	border-collapse: collapse;
}
.seller1 .center1 .guize .right .table2 table td {
	border: 1px #ededed solid;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	padding: 0px 5.5px;
}
.seller1 .center1 .guize .right .table3 {
	width: 100%;
	height: auto;
	margin-top: 50px;
}
.seller1 .center1 .guize .right .table3 table {
	border: 1px #ededed solid;
	border-collapse: collapse;
}
.seller1 .center1 .guize .right .table3 table td {
	border: 1px #ededed solid;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	padding: 0px 6px;
}
.seller1 .center1 .guize .right table caption {
	text-align: left;
	margin: 10px 0px 5px 15px;
	font-weight: 700;
	font-size: 18px;
	color: #a40c59;
}
/*璐﹀彿绠＄悊*/

.zhgl {
	width: 1000px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 50px;
}
.zhgl .ziliao {
	width: 100%;
	height: auto;
}
.zhgl .ziliao h3 {
	margin-left: 15px;
	padding-top: 10px;
}
.zhgl .ziliao .box {
	width: 100%;
	height: auto;
}
.zhgl .ziliao .box img {
	margin: 20px 0px 0px 5px;
}
.zhgl .ziliao .box span {
	margin: 20px 0px 0px 45px;
}
.zhgl .ziliao .box form {
	margin-left: 45px;
}
.zhgl .ziliao .box input {
	margin: 20px 0px 0px 15px;
}
.zhgl .ziliao .box select {
	margin: 30px 0px 0px 0px;
}
.zhgl .ziliao .box button {
	background-color: #a40c59;
	color: #fff;
	border: none;
	font-size: 16px;
	padding: 5px 10px;
	width: 80px;
	margin: 30px 0px 0px 200px;
}
.zhgl .dizhi {
	width: 100%;
	height: auto;
	margin-top: 30px;
}
.zhgl .dizhi h3 {
	margin-left: 15px;
	padding-top: 10px;
}
.zhgl .dizhi .box1 {
	width: 100%;
	height: auto;
}
.zhgl .dizhi .box1 h4 {
	margin: 10px 0px 0px 70px;
	color: #a40c59;
}
.zhgl .dizhi .box1 form {
	margin-left: 45px;
}
.zhgl .dizhi .box1 input {
	margin: 20px 0px 0px 15px;
}
.zhgl .dizhi .box1 select {
	margin: 30px 0px 0px 0px;
}
.zhgl .dizhi .box1 button {
	background-color: #a40c59;
	color: #fff;
	border: none;
	font-size: 16px;
	padding: 5px 10px;
	width: 80px;
	margin: 30px 0px 0px 153px;
}
.zhgl .dizhi .nav {
	width: 100%;
	height: auto;
	margin-top: 40px;
}
.zhgl .dizhi .nav .class {
	width: 100%;
	height: 30px;
	background-color: #ededed;
}
.zhgl .dizhi .nav .class ul li {
	float: left;
	display: inline-block;
	width: 80px;
	margin-left: 20px;
	line-height: 30px;
	text-align: center;
}
.zhgl .dizhi .nav .class1 {
	width: 100%;
	height: 60px;
	border-bottom: 1px #ccc solid;
}
.zhgl .dizhi .nav .class1 ul li {
	float: left;
	display: inline-block;
	width: 80px;
	margin-left: 20px;
	line-height: 60px;
	font-size: 14px;
	text-align: center;
}
.zhgl .dizhi .nav .class1 ul li a {
	font-size: 12px;
	cursor: pointer;
}
/*娑堟伅涓績*/
.xxzx {
	width: 1000px;
	height: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.xxzx .nav {
	width: 100%;
	height: 30px;
	border-bottom: 1px #ccc solid; background-color:#ededed;
}

.xxzx h2 {
	margin-bottom: 20px;
}
.xxzx span {
	position: absolute;
	margin-top: -40px;
	margin-left: 100px;
}
.xxzx .nav ul li{ display:inline-block; float:left; text-align:center; line-height:30px; border-right:1px #ccc dashed; box-sizing:border-box;}
.xxzx .nav1 {
	width: 100%;
	height: 50px;
	border-bottom: 1px #ccc solid; 
}
.xxzx .nav1 ul li{ display:inline-block; float:left;  line-height:50px;border-right:1px #ccc dashed; box-sizing:border-box;}


















